footer {
  margin-top: 50px;
}

.footer-links {
  display: flex;
  font-family: cubanoregular;
}

@media (max-width: 620px) {
  .footer-links {
    flex-wrap: wrap;
  }
}

.footer-links a {
  padding: 40px;
  flex-basis: 100%;
  text-align: center;
  text-decoration: none;
  color: #fff;
  margin: 0;
}

.footer-links a span {
  display: inline-block;
  font-size: 18px;
  transition: all 150ms var(--timing-function);
  transform: scale(1);
}

.footer-links a:hover span {
  transform: scale(1.2);
}

.footer-links a.nature-of-code {
  background: var(--ct-red);
}

.footer-links a.learning-processing {
  background: var(--ct-yellow);
  color: var(--text-color);
}

.footer-links a.shiffman-net {
  background: var(--ct-blue);
}
